<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <!-- Parameters used by tests at runtime -->
  <TestRunParameters>
    <Parameter name="runInBrowser" value="firefox-headless" />
    <Parameter name="webAppUrl" value="http://localhost" />
    <Parameter name="apiAppUserName" value="Admin" />
    <Parameter name="apiAppPassword" value="Password" />
  </TestRunParameters>
</RunSettings>
